/****************************TAG SELECTORS**********************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 1.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

hr {
  color: #EAF6F6;
  width: 5%;
  border-width: 0.625rem;
  border-style: dotted solid;
  border-top-style: none;
  line-height: 0.625rem;
  margin: 6.25rem auto;
}

p {
  font-weight: bold;
  margin: 1.875rem;
  line-height: 2;
}

/****************************CLASS SELECTORS**********************/
.pro {
  text-decoration: underline;
}

.top {
  background-color: #E3FDFD;
  padding: 6.25rem;
  position: relative;
}

.profile {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  margin: 0;
  background-color: #66BFBF;
  padding: 3.125rem 1.25rem 1.25rem 1.25rem;
}

.bot-foot-para {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.top-cloud {
  position: absolute;
  top: 3.125rem;
  right: 31.25rem;
}

.bottom-cloud {
  position: absolute;
  left: 28.125rem;
  bottom: 25rem;
}

.skill-row {
  width: 50%;
  margin: 9.375rem auto;
  text-align: left;
  line-height: 2;
}

.skills-img {
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.programming-img {
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.contact-me-para {
  margin-bottom: 5rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
